# for catvton model
torch
torchvision
accelerate
git+https://github.com/huggingface/diffusers.git
matplotlib
opencv_python
pillow
PyYAML
scipy
setuptools
scikit-image
tqdm
transformers
fvcore
cloudpickle
omegaconf
pycocotools
av
gradio
peft
huggingface_hub

# for inference server
django
python-dotenv

# for test
requests